# Dependencies
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
